.root {
  color: white;
}

.toggle-button {
  background-color: var(--secondary-bg-color);
}

.root {
  height: 60px;
  list-style: none;
  text-indent: 20px;
  font-size: 18px;
  background: var(--bg-sidebar-header-color);
}

.root a {
  color: #fff;
}

.root a:hover {
  text-decoration: none;
}
