@media only screen and (min-width: 561px) {
  :global(#page-wrapper.open) {
    padding-left: var(--sidebar-width);
  }
}
@media only screen and (max-width: 560px) {
  :global(#page-wrapper.open) {
    padding-left: var(--sidebar-closed-width);
  }
}

:global(#page-wrapper.open) .root {
  width: var(--sidebar-width);
}

.root {
  --sidebar-width: 300px;
  --sidebar-closed-width: 75px;
  --primary-bg-color: rgb(var(--primary-bg-color-base));
  --secondary-bg-color: rgb(var(--secondary-bg-color-base));

  background-color: var(--primary-bg-color);

  width: var(--sidebar-closed-width);
  height: 100%;

  position: fixed;
  left: 0;

  z-index: 999;
  transition: all 0.4s ease 0s;

  display: flex;
  flex-flow: column;
}

.root {
  --primary-bg-color-base: 6, 89, 134;
  --secondary-bg-color-base: 11, 74, 111;
}
:global(:root[theme='dark']) .root {
  background-color: var(--grey-1);
}
:global(:root[theme='highcontrast']) .root {
  background-color: var(--black-color);
}
:global(:root[data-edition='BE']) .root {
  --primary-bg-color-base: 16, 24, 40;
  --secondary-bg-color-base: 29, 41, 57;
}
:global(:root[data-edition='BE'][theme='dark']) .root {
  background-color: var(--grey-1);
}
:global(:root[data-edition='BE'][theme='highcontrast']) .root {
  background-color: var(--black-color);
}

ul.sidebar {
  text-indent: 20px;
  position: relative;
  overflow: hidden;

  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.sidebar :global(ul) {
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
